{% extends 'base.html.twig' %}

{% block title %}
	{{'Panier' | trans}}
{% endblock %}

{% block body %}
	<h1>{{'Commandes.Merci' | trans}}</h1>
	<p>{{'Commandes.Envoi' | trans}}
		:
		{{app.user.email}}</p>

{% endblock %}
